/* Define a aparência de botões genéricos da aplicação */
.button {
    padding: 1.2rem 2.4rem;
    background-color: var(--color-brand);
    color: #050505;
    font: 700 1.6rem var(--ff-inter-tight);
    text-transform: uppercase;
    border-radius: .8rem;
    box-shadow: 0 0 4rem 0 hsla(248, 92%, 75%, 0.3);
    transition: all .3s ease-in-out;

    &:hover {
        background-color: var(--background-highlights);
        box-shadow: 0 0 4rem 0 hsla(248, 87%, 84%, 0.3);
    }
}