/* Para desfocar o fundo */
.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  min-height: 100%;
  z-index: 999;
  backdrop-filter: blur(6px);
}

/* Animação para quando o formulário aparecer na tela */
@keyframes appear {
    from {
        opacity: .5; 
        scale: .9;
    }

    to { 
        opacity: 1;
        scale: 1;
    }
}

/* Estilização do formulário */
.form {
    position: absolute;
    padding: 4rem 2rem;
    margin-block: 7.6rem 3.9rem;
    background-color: var(--background-tertiary);
    border-radius: 1.2rem;
    position: relative;
    animation: appear .5s ease-in-out backwards;
    max-height: 85vh;
    overflow-y: auto;
    scrollbar-width: none;

    /* Estilização do botão de fechar o formulário */
    & .close-form {
        position: absolute;
        top: .8rem;
        right: .8rem;

        &:hover {
            transform: scale(1.1);
        }
    }

    /* Espaçamento entre os grupos de inputs */
    & .input-container {
        margin-block: 2.8rem;
    }

    /* Botão de criação de agendamento alinhado à direita */
    & .create-appointment-button {
        margin-left: auto;
    }
}

@media (width >= 1024px) {
    /* Largura máxima do formulário e margin-top flexível */
    .form {
        max-width: 44.5rem;
        margin-top: 5%;

        /* Inputs de data e hora lado a lado em telas maiores */
        & .date-hour-inputs {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.6rem;
        }
    }
}
